<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="emp_provider"/>
    <dubbo:registry address="192.168.27.133:2181" protocol="zookeeper"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <bean id="employeeService" class="com.atguigu.dubo.service.impl.EmployeeServiceImpl"/>
    <dubbo:service interface="com.atguigu.dubbo.service.EmployeeService" ref="employeeService"/>
</beans>